<div class="navbar-start bg-primary-content w-full px-32 flex items-center gap-5">
  <a class="btn btn-ghost text-xl" href="/">
    Blog
  </a>

  <div class="text-primary flex gap-5">
    <a href="/">Home</a>
<!--    <a href="/posts/new">New post</a>-->
  </div>
</div>