<div class="flex bg-primary-content w-fit rounded-xl px-8 py-3 items-center gap-5">
  <div class="avatar">
    <div class="w-14 rounded">
      <img src="<%= user.avatar_url %>" />
    </div>
  </div>
  <h1>
    <%= user.full_name %>
  </h1>
</div>